# .NET
bin/
obj/
*.dll
*.pdb
*.exe
*.cache
*.user
*.suo

# Database files
*.db
*.db-shm
*.db-wal

# IDE
.vs/
.vscode/
*.code-workspace

# Node.js
node_modules/
.vite/
dist/

# Logs
*.log

# Uploaded files
**/uploads/images/

# OS files
.DS_Store
Thumbs.db
